body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #444444;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.chat {
  background-color: #222222;
  color: white;
  height: 600px;
}

.chat-title {
  padding: 1%;
  text-align: center;
}

.channels-list {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 15%;
  padding: 2%;
  margin-left: 3%;
  text-align: center;
  background-color: #333333;
  float: left;
  height: 50%;
}

.channel-title {
  padding: 2%;
}

.channel-button {
  padding: 5% 15% 5% 15%;
  color: black;
  background-color: #22aaff;
  border: none;
}

.messages-list {
  height: 60%;
  width: 60%;
  overflow-y: auto;
  margin-top: 3%;
  margin-left: 30%;
}

.msg {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid blue;
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
  background: #0099bb;
  border-radius: 10px;
  color: white;
  border: none;
}

.write-message {
  width: 100%;
  position: fixed;
  text-align: center;
}

.inputMessage{
  background-color: #005588;
  color: white;
  padding-left: 1%;
  margin: 1%;
  height: 50px;
  width: 30%;
  border-color: grey;
  border: none;
}

.send-button {
  padding: 1%;
  color: white;
  background-color: #333333;
  border: none;
}
